section {
    background-color: #88c1d0;
    height: 120px;
}

body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

header {
    background-color: red;
}

header img {
    display: none;

}

.show {
    display: block;
}

@media (min-width: 1600px) {
    body {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 1599px) and (min-width: 768px) {
    body {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 767px) {
    body {
        grid-template-columns: auto;
    }

    ul {
        display: none;
    }

    header img {
        display: block;
    }
}