.wrapper_team {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 60px 0;
    position: relative;
    width: 90%;
    margin-left: 5%;
}

.item_team {
    height: 630px;
    width: 100%;
    background-color: white;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}

.content_image_team {
    background-color: var(--color-brun);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 6px var(--color-green);

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
}

.content_image_team.special_fix img {
    width: 150%;
}

.content_image_team.special_fix.toleft {
    justify-content: left;
}

.content_image_team img {
    width: 100%;
}

.content_text_team,
.content_title {
    width: 85%;
    margin-top: 20px;
    text-align: center;
}

.content_media_team {
    width: 85%;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.content_media_team img {
    width: 36px;
    cursor: pointer;
}

@media (width <=1243px) {
    .wrapper_team {
        grid-template-columns: auto;
    }
}